@import './base.scss';

.button_alternate {
  background-color: var(--white);
  &:hover {
    background-color: var(--white);
  }
}

li {
  list-style: none;
}

a,
a:hover,
a:active {
  color: var(--white);
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: auto;
  @media screen and (max-width: 1500px) {
    padding: 0 82px;
  }
  @media screen and (max-width: 768px) {
    padding: 0 72px;
  }
  @media screen and (max-width: 480px) {
    padding: 0 30px;
  }
  @media screen and (max-width: 320px) {
    padding: 0 20px;
  }
}
